body {
    background-color: #BE95C4;
    font-family: "avantgarde", sans-serif;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.footer{
    margin-top: 4rem;
    text-align: center;
}

.mapouter{
    margin-right: 3rem;
    align-content: center;
}

.nav-item {
    color: #5E548E;
    font-size: large;
}

.navbar {
    background-color: #231942;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.main{
    margin-top: 3rem;
}