body {
    background-color: #5E548E;
    font-family: "avantgarde", sans-serif;
}

.img {
    width: 300px;
    border-radius: 9px;
    height: 250px;
    margin-bottom: 1rem;
}

.nav-item {
    color: #5E548E;
    font-size: large;
}

.navbar {
    background-color: #231942;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn {
    background-color: #231942;
    border: 0;
}