body {
    background-color: #5E548E;
    font-family: "avantgarde", sans-serif;
}



.img {
    width: 150px;
    height: 150px;
    max-width: 100%;
    height: auto;
    border-radius: 9px;
}

.nav-item {
    color: #5E548E;
    font-size: large;
}

.navbar {
    background-color: #231942;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.fas:hover {
    color: #100e18;
}

.border {
    margin-top: 1rem;
}

.qty {
    display: flex;
    align-items: center;
}

.qtybtn {
    margin-left: 8px;
    margin-right: 8px;
    background-color: #231942;
    border: 0;
}

#cartlist{
    display: flex;
    width: 100%;
    height: 100%;
}