body {
    font-family: "Lato", sans-serif;
    background-color: rgb(226, 168, 177);
}

.bg-img{
    background-image: url("../images/headerpng.png");
    background-size: cover;
    min-height: 500px;
}