body {
    font-family: "avantgarde", sans-serif;
    background-color: #BE95C4;
    text-align: center;
}

.nav-item{
color: #5E548E;
font-size: large;
}

.navbar{
    background-color: #231942;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.img{
    margin-top: 2rem;
    border-radius: 9px;
    max-width: 100%;
}