body {
    background-color: rgb(226, 168, 177);
}

.img{
    width: 100%;
    height: auto;
}

.bg-img {
    background-image: url("../images/headerpng.webp");
    background-size: cover;
    alt: "header-img";
}